<nav>
	<%- include('partials/logged_in_header.ejs', {"user": user})%>
</nav>
<div class="main">
	<div class="hashtagsFlash"></div>
	<div class="hashtags"></div>
</div>

<script id="userHashTagTemplate" type="x-tmpl-mustache">
{{#hashtags}}
<form class="hashTagForm" action="{{!.}}{{url}}/{{!.}}{{uhid}}" method="PUT">
      <input id="hashtag{{!.}}{{id}}" name="tag" type="text" value="{{!.}}{{tag}}">
      <input id="likes{{!.}}{{id}}" name="like_amount" value="{{!.}}{{like_amount}}">
      <input type="submit" value="Save">
</form>
{{/hashtags}}
</script>
<script id="newHashTagTemplate" type="x-tmpl-mustache">
<form class="hashTagForm" action="{{url}}" method="POST">
      <input id="hashtag" name="tag" type="text">
      <input id="likes" name="like_amount" type="text" value="0">
      <input type="submit" value="Save">
</form>
</script>